.topHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b71eb;
    position: fixed;
    top: 0;
    width: 100%;

}

.topHeader-logo {
    margin-left: 25px;
    font-size: 2em;
    color: white;
}

.header-logo {
    text-decoration: none;
    color: white;
}

a.header-logo:hover {
    color: red;
}


.topHeader-navbar {
    margin-right: 25px;
}
